@using AvioIndustrija.ViewModels.Vijest;
@model List<VijestViewModel>

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <p>
        <a asp-area="" asp-controller="Vijest" asp-action="Create">Create New</a>
    </p>
}
<!-- Top News Start-->
<div class="top-news">
    <div class="container-fluid">
        <div class="row" style="display:flex">
            <div class="">
                <div class="row" style="display:flex">
                @foreach (var news in Model)
                {
                    <div class="col-lg-6" style="margin-bottom:2rem">
                        <div class="tn-img">
                            <img src="@news.ImageUrl" />
                            <div class="tn-content" style="display:flex">
                                <div class="tn-content-inner">
                                    <a class="tn-date" href=""><i class="far fa-clock"></i>@news.VrijemeObjave</a>
                                    <a class="tn-title" href="@Url.Action("Details", "Vijest", new { id = @news.VijestId })">@news.Naslov</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .top-news {
        position: relative;
        width: 100%;
        padding: 30px 0 0 0;
    }

        .top-news .col-md-6 {
            margin-bottom: 30px;
        }

        .top-news .tn-img {
            position: relative;
            overflow: hidden;
        }

            .top-news .tn-img img {
                width: 100%;
            }

            .top-news .tn-img:hover img {
                filter: blur(5px);
                -webkit-filter: blur(5px);
            }

        .top-news .tn-content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 15px 10px 15px 20px;
            background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
            display: flex;
            align-items: flex-end;
        }

            .top-news .tn-content a.tn-date {
                display: block;
                width: 100%;
                margin-bottom: 5px;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                transition: .3s;
                letter-spacing: 1px;
            }

                .top-news .tn-content a.tn-date i {
                    margin-right: 5px;
                }

                .top-news .tn-content a.tn-date:hover {
                    text-decoration: underline;
                }

            .top-news .tn-content a.tn-title {
                display: block;
                width: 100%;
                color: #ffffff;
                font-size: 18px;
                font-weight: 400;
                transition: .3s;
            }

        .top-news .tn-left .tn-content a.tn-title {
            font-size: 35px;
            font-weight: 700;
        }

        .top-news .tn-content a.tn-title:hover {
            color: #E47A2E;
        }
</style>