@model IEnumerable<AvioIndustrija.Models.Let>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <p>
        <a asp-area="" asp-controller="Let" asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrojLeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemePoletanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeSletanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relacija)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrojLeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemePoletanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeSletanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelacijaId)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("user")))
                {
                    <a asp-area="" asp-controller="Let" asp-action="Details" asp-route-id="@item.LetId">Details</a>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <a asp-area="" asp-controller="Let" asp-action="Edit" asp-route-id="@item.LetId">Edit</a>
                    <a asp-area="" asp-controller="Let" asp-action="Delete" asp-route-id="@item.LetId">Delete</a>
                }
            </td>
                
            </tr>
}
    </tbody>
</table>
